@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("./twov2.jpg");
    background-size: cover;
    background-position: top; /* Align background image to the top */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content at the top */
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.container {
    max-width: 600px;
    padding: 20px; /* Adding more padding for better spacing */
    box-sizing: border-box; /* Ensure padding is included in the max-width */
}

.heading-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px; /* Add margin at the top to separate from the top bar */
}

h1 {
    font-weight: normal;
    font-size: 3rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(-50px);
}

.big-text {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1;
    margin: 0 1rem;
}

.countdown-el {
    text-align: center;
    flex: 1 0 30%;
    margin: 10px;
}

.countdown-el span {
    font-size: 1rem;
}
